{% extends "base.html" %}
{% block title %}Edit Profile Page{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == profile.user.id%}
        <h1> Edit Profile Page </h1>
        <br/>
        <div class="from-group">
            <form method = "POST" enctype = 'multipart/form-data'>
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-secondary">Edit Profile Page</button>
            <form>
        </div>
    {% else %}
        <h1> You're not allowed </h1>
    {% endif %}

{% else %}
    <h1> You're not allowed </h1>
{% endif %}


{% endblock %}
