{% extends "base.html" %}
{% load static %}
{% block title %}User Profile{% endblock %}
{% block content %}

<h1> User Profile </h1>
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-2">
        {% if page_user.profile_pic %}
          <img src="{{ page_user.profile_pic.url }}" class="img-fluid rounded-start">
        {% else %}
          <img src="{% static "Blog/images/profile.png" %}" class="img-fluid rounded-start"> 
        {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">
              {{ page_user.user.first_name }}
              {{ page_user.user.last_name }}
          </h5>
            <p class="small text-muted">
  
                <a href="{% url 'show_profile_page' page_user.id %}">Profile Page</a>

                {% if page_user.linkedin_url %}
                 | <a href="{{ page_user.linkedin_url }}">LinkedIn</a>
                {% endif %}
                {% if page_user.github_url %}
                  | <a href="{{ page_user.github_url }}">GitHub</a>
                {% endif %}
  
            </p>
          <p class="card-text">
              {{ page_user.bio }}
          </p>
        </div>
      </div>
    </div>
  </div>
      <br/><br/>
  
  {% endblock %}